@CHARSET "UTF-8";

#chatLayer{
	width:100%;
	height:100%;
}


#nowUserCountLayer{
	overflow-x:auto;
}

.log{
	height:500px;
	overflow-y:auto;
	border: 1px solid black;
}

#inputMessage{
	width: 100%
}

